include ../../templates/header.pug

.container.content
	.row
		a.waves-effect.waves-light.btn(href='/new_user/')= "New"

		a.waves-effect.waves-light.btn(href='/user_json/')= "Json"
	.row
		table
			thead
				tr
					th(data-field='id') #
					th(data-field='name') Username
					th(data-field='price') Name
					th(data-field='price') Last Name
					th(data-field='price') Email
					th(data-field='price') Opciones
			tbody
				each val,index in datos
					tr
						td= val.ID_USER
						td= val.USERNAME
						td= val.USER_NOMBRE
						td= val.USER_APELLIDO
						td= val.USER_EMAIL
						td
							a.waves-effect.waves-light.btn(href='/user/' +  val.ID_USER) detail 
							a.waves-effect.waves-light.btn(href='/del_user/' +  val.ID_USER) delete

include ../../templates/footer.pug